body {
    background: linear-gradient(#337CCF, #116994);
    overflow-y: hidden;
    /* background: url("/assets/weather1.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.weather {
    background: linear-gradient(#000000, #084767);

    /* border: 1px solid #1450A3; */
    box-shadow: 5px 5px 5px 5px #0404056a;

    border-radius: 1rem;
    height: 85vh;
    margin: 4rem 10rem;
    opacity: 0.9;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;

}

.cloud-left {
    position: absolute;
    left: 8%;
    top: 1%;
    width: 140px;
    height: 140px;
    filter: brightness(160%);
    filter: drop-shadow(10px 20px 10px #2828289d);

}

.cloud-middle {
    position: absolute;
    right: 45%;
    top: 8%;
    filter: brightness(160%);
    filter: drop-shadow(10px 20px 10px #282828);


}

.cloud-right {
    position: absolute;
    left: 80%;
    top: 1%;
    width: 120px;
    filter: drop-shadow(10px 15px 6px #282828);


}

.left-navbar     {
    background-color: #f5f6f742;
    height: 85vh;
    width: 3.5rem;
    display: flex;
    flex-direction: column;

    /* border-radius: 10px; */
    /* margin: 5px; */
}
.left-navbar .nav-icons{
    margin: 2rem 0.8rem 0rem 0.8rem;


}
.left-navbar .log-out{
    margin: 10rem 0.8rem 0rem 0.8rem;

}

.current-weather,
.cities {
    background: linear-gradient(#f5f6f77d, #327ecab0);
    height: 15rem;
    width: 12rem;
    margin: 6rem 0.5rem 1rem .5rem;
    border-radius: 10px;

    color: #ffffff;
}

#map {
    background: linear-gradient(#f5f6f77d, #1d5c9b6a);
    height: 15rem;
    width: 20rem;
    margin: 6rem 0.5rem 1rem .5rem;
    flex-grow: 1;
    border-radius: 10px;

}

/* .cities{
    background-color: #000;
    height: 20rem;
    width: 15rem;
    margin: 5px;
    border-radius: 25px;
    /* margin-left: 7rem; */


.forecast {
    background: linear-gradient(#f5f6f77d, #1d5c9b6a);
    height: 15rem;
    width: 12rem;
    margin: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-right: 20px;
    /* position: relative;
    left: 12%; */
    
    /* bottom:20%; */
    /* flex-grow: ; */

}

/* .weather-summary {
    background: linear-gradient(#f5f6f77d, #1d5c9b6a);
    height: 20rem;
    width: 20rem;
    margin: 5px;
    border-radius: 25px;
    flex-wrap: wrap;
    margin-left: 7rem;
    flex-grow: .9;
    position: relative;
 


} */

.search-bar {
    background-color: #8ea1bc;
    height: 3rem;
    width: 20rem;
    margin: 10px 5px 5px 0px;
    padding-left: 0px;
    border-radius: 10px;
    position: absolute;
    left: 20%;
    flex-wrap: wrap;
    opacity: 80%;
    /* margin:5px 5px 80px 5px; */

}

.search-bar img {

    margin: 0.5rem 0rem 0.8rem 0.5rem;
}



.current-weather {
    padding-left: 20px;
    padding-top: 10px;

}

.weather-updates {
    margin: 20px 10px 1px 10px;
}

.sub-updates {
    margin: 3px
}

#moisture {
    margin-left: 0px;
}

#precipitation {
    margin-left: 12px;
}

#current-winds {
    margin-left: 10px;
}

#breeze {
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
}

#search-container, #search-bar {
    
    /* padding:0px 5px 0px 5px;     */
    margin-top: 0px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    /* width: 10rem; */



}

.current-time {
    margin-top: 0px;
}

.current-day {
    margin-bottom: 0px;
    border-bottom: 0px;
    font-size: 1rem;
    font-weight: 700;

}

.forecast-first-child{
    padding: 1rem;
    word-spacing: 2.3rem;
    color: white;
    text-align: left;
}

.forecast-data{
  
    font-weight: 500;
    text-align: center;
    color: white;
}
.forecast-data .data, .min-temp, .week-forecast{
    font-size: 10px;
  
}
.week-forecast{
    margin-left: 15px;
}
.forecast-data > span{
    margin-right: 0px;
    padding-right: 0px;
   

}
.forecast-second-child {
    font-weight: 800;
}
.forecast-second-child img{
    margin-right: 20px;
}
span{
    font-weight: 700;
}
/* Leaflet map */
/* #map { height: 180px; } */

#search-bar{
    padding: 3px 3px;
    /* margin-top: 1px; */
    
}

#search-container{
    position: relative;
    bottom  : 90%;
    left: 15%;
}
#search-button{
    font-size: 12px;
    margin-bottom: 7px;
    margin-left: 3px;
    font-weight: 600;
    
}

@media (min-height: 680px), screen and (orientation: portrait) {
  
    /* … */
    html{
        font-style: 45%;
    }
    .left-navbar{
        display: none;
    }
    .weather{
        text-align: center;
        justify-content: center;
    }
    #map{
        height: 22rem;
        margin: 0rem 2rem 1rem 2rem;

    }
    .current-weather{
        width: 25rem;
        /* margin: 6rem 0rem 0rem 0rem; */
        margin: 6rem 2rem 1rem 2rem;

    }
    .forecast{
        width: 25rem;
        height: 18rem;
        margin-top: 0px;
        margin: 0rem 2rem 1rem 2rem;

    }
    .cloud-middle{
        display: none;
    }
    .search-bar{
        background-color: #8ea1bc;
        height: 3rem;
        width: 24rem;
        margin: 10px 10px 5px 0px;
        padding-left: 0px;
        border-radius: 10px;
        position: absolute;
        left: 25%;
        flex-wrap: wrap;
        opacity: 80%;
    }
    .search-bar img {

        margin: 0.6rem 20rem 0.8rem 0rem;
    }
    #search-bar{
        padding: 3px 3px 3px 40px;
        
        /* margin-top: 1px; */
        
    }
    #search-container{
        position: relative;
        bottom  : 90%;
        left: 10%;
    }
    #search-button{
        font-size: 12px;
        margin-bottom: 7px;
        margin-left: 3px;
        font-weight: 600;
        
    }
    
.weather-updates {
    margin: 20px 20px 1px 50px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;

}

.sub-updates {
    margin: 10px 10px 1px 10px;
    text-align: center;
}

#moisture {
    margin-left: 0px;
}

#precipitation {
    margin-left: 12px;
    margin-right: 100px;
   
}

#current-winds {
    margin-left: 10px;
}

#breeze {
   margin-left: 0px;
}

.forecast-first-child{
    padding: 1rem;
    font-size: 20px;
    margin: 0rem 2rem;
    word-spacing: 8rem;
    color: white;
    text-align: left;
}

.forecast-data{
    font-weight: 500;
    text-align: center;
    color: white;
    margin-right: 35px;
    margin-bottom: 5px;
}
.forecast-data .data, .min-temp, .week-forecast{
    font-size: 18px;
  font-weight: 100;
  text-align: left;
}
.week-forecast{
    margin-left: 50px;
    /* margin-right: 0px !important; */
}
.data{
    margin-left: 30px;
    text-align: left;
}

.forecast-icon{
    margin-left:45px;
    text-align: left;
    /* margin-right: 100px; */
}
  }

  
@media (max-width: 720px) {
  
    /* … */
    html{
        font-style: 45%;
    }
    body{
        background: url("/assets/weather1.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .left-navbar{
        display: none;
    }
    .weather{
        text-align: center;
        justify-content: center;
        
    }
    #map{
        height: 22rem;
        margin: 0rem 2rem 1rem 2rem;

    }
    .current-weather{
        width: 25rem;
        /* margin: 6rem 0rem 0rem 0rem; */
        margin: 6rem 2rem 1rem 2rem;
        

    }
    .forecast{
        width: 25rem;
        height: 18rem;
        margin-top: 0px;
        margin: 0rem 2rem 1rem 2rem;

    }
    .cloud-middle{
        display: none;
    }
    .search-bar{
        background-color: #8ea1bc;
        height: 3rem;
        width: 24rem;
        margin: 10px 10px 5px 0px;
        padding-left: 0px;
        border-radius: 10px;
        position: absolute;
        left: 25%;
        top: 5%;
        flex-wrap: wrap;
        opacity: 80%;
    }
    .search-bar img {

        margin: 0.6rem 20rem 0.8rem 0rem;
    }
    #search-bar{
        padding: 3px 3px 3px 40px;
        
        /* margin-top: 1px; */
        
    }
    #search-container{
        position: relative;
        bottom  : 90%;
        left: 10%;
    }
    #search-button{
        font-size: 12px;
        margin-bottom: 7px;
        margin-left: 3px;
        font-weight: 600;
        
    }
    
.weather-updates {
    margin: 20px 20px 1px 50px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;

}

.sub-updates {
    margin: 10px 10px 1px 10px;
    text-align: center;
}

#moisture {
    margin-left: 0px;
}

#precipitation {
    margin-left: 12px;
    margin-right: 100px;
   
}

#current-winds {
    margin-left: 10px;
}

#breeze {
   margin-left: 0px;
}

.forecast-first-child{
    padding: 1rem;
    font-size: 20px;
    margin: 0rem 2rem;
    word-spacing: 8rem;
    color: white;
    text-align: left;
}

.forecast-data{
    font-weight: 500;
    text-align: center;
    color: white;
    margin-right: 35px;
    margin-bottom: 5px;
}
.forecast-data .data, .min-temp, .week-forecast{
    font-size: 18px;
  font-weight: 100;
  text-align: left;
}
.week-forecast{
    margin-left: 50px;
    /* margin-right: 0px !important; */
}
.data{
    margin-left: 30px;
    text-align: left;
}

.forecast-icon{
    margin-left:45px;
    text-align: left;
    /* margin-right: 100px; */
}
  }
  
  /* Media Query for screen width between 320px and 480px */
@media (min-width: 320px) and (max-width: 480px) {
        /* … */
       
       
        .left-navbar{
            display: none;
        }
        .weather{
         /* overflow-x: hidden; */
            width: 27rem;
            height: 50rem;
            margin: 30px;
            /* background: url("/assets/weather.svg"); */
            /* background-repeat: no-repeat;
            background-size: cover; */
        }
        #map{
            height: 40rem;
            margin: 0rem 2rem 1rem 2rem;
            opacity: 1;
        }
        .current-weather{
            width: 25rem;
            height: 22rem;
            /* margin: 6rem 0rem 0rem 0rem; */
            margin: 6rem 2rem 1rem 2rem;
    
        }
        .forecast{
            width: 25rem;
            height: 25rem;
            margin-top: 0px;
            margin: 0rem 2rem 1rem 2rem;

        }
        .cloud-middle{
            display: none;
        }
        .cloud-right{

            opacity: 0;
            margin:70px 40px;
        }
        .cloud-left{
            opacity: 0;
            margin:0px;
        }
        .search-bar{
            background-color: #8ea1bc;
            height: 3rem;
            width: 24rem;
            margin: 10px 10px 5px 0px;
            padding-left: 0px;
            border-radius: 10px;
            position: absolute;
            left: 14%;
            flex-wrap: wrap;
            opacity: 80%;
        }
        .search-bar img {
    
            margin: 0.6rem 20rem 0.8rem 0rem;
        }
        #search-bar{
            padding: 3px 0px 3px 10px;
            
            /* margin-top: 1px; */
            
        }
        #search-container{
            position: relative;
            bottom  : 90%;
            left: 10%;
        }
        #search-button{
            font-size: 10px;
            margin-bottom: 7px;
            margin-left: 3px;
            font-weight: 600;
            
        }
        
    .weather-updates {
        margin: 20px 20px 1px 50px;
        display: grid;
        grid-template-columns: 70px 70px 70px 70px;
    
    }
    
    .sub-updates {
        margin: 10px 10px 1px 10px;
        text-align: center;
    }
    
    #moisture {
        margin-left: 0px;
        margin-right: 50px;
    }
    
    #precipitation {
        margin-left: 12px;
        margin-right: 100px;
       
    }
    
    #current-winds {
        margin-left: 10px;
    }
    
    #breeze {
       margin-left: 0px;
    }
    
    .forecast-first-child{
        padding: 1rem  0rem 1rem 2.2rem ;
        font-size: 20px;
        margin: 0rem 2rem;
        word-spacing: 6rem;
        color: white;
        text-align: left;
    }
    .forecast-second-child{
        padding: 1rem 0rem 15rem 0rem;
    }
    .forecast-data{
        font-weight: 500;
        text-align: center;
        color: white;
        margin-right: 35px;
        margin-bottom: 15px;
    }
    .forecast-data .data, .min-temp, .week-forecast{
        font-size: 15px;
      font-weight: 100;
      /* text-align: left; */
      
    }
    .week-forecast{
        margin-left: 30px;
        /* margin-right: 0px !important; */
    }
    .data{
        margin-left: 30px;
        text-align: left;
    }
    
    .forecast-icon{
        /* margin-left:45px; */
        text-align: left;
        /* margin-right: 100px; */
    }
    .current-day{
        font-size: 2.5rem;
    }
    .current-temperature{
        font-size: 4rem !important;
        padding: 30px 30px 0px 30px;
        
        margin-bottom: 0px;
    }
    .current-time{
        font-size: 2rem ;
    }
    /* background{
        overflow: scroll;
        height:-40rem !important;
    } */
}
